.ddg-wrapper {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.ddg-bar {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    height: 200px;
    margin:20px;
    z-index: 1;
}

.ddg-base {
    width:140px;
    height:20px;
    background-color: gray;
}

.ddg-col {
    height: 100px;
    width: 20px;
    background-color: gray;
    position: relative;
    top: -100px;
    left: 60px;
}
.ddg-ring {
    height: 20px;
    z-index: 10;
}